@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout {
    @apply w-full h-screen relative flex flex-row;
  }
  .sidebar {
    @apply bg-slate-800 w-32 flex items-center;
  }
  .sidebar__nav {
    @apply h-[80%] w-[80%] rounded-r-3xl bg-blue-400 text-black;
  }
  .sidebar__nav > ul {
    @apply flex items-center justify-center flex-col h-full py-5 pr-3 gap-3;
  }
  .sidebar__nav > ul > li {
    writing-mode: vertical-lr;
    @apply rotate-180 text-xl cursor-pointer w-[80%] flex items-center justify-center flex-1 rounded-3xl duration-300;
  }
  .sidebar__nav > ul > li:hover {
    @apply hover:bg-white cursor-pointer active:bg-white;
  }
  .active {
    @apply bg-white;
  }
  .content {
    width: calc(100vw - 130px);
    max-height: 100vh;
    padding: 24px;
    background-color: antiquewhite;
  }
}
